<?xml version="1.0"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <interactiveMode>false</interactiveMode>
    <localRepository>/shared-cache/m2/repository</localRepository>

    <servers>
        <!-- public repos -->
    </servers>

    <mirrors>
    </mirrors>

    <profiles>
    </profiles>
    <activeProfiles>
    </activeProfiles>
</settings>
